/*body*/
body {
  background-color: #d9fbff;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 200px;
  margin-right: 200px;
}

footer {
  font-size: small;
  margin-top: 30%;
}

input[type=submit], input[type=text], input[type=password], select {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

input[type=submit] {
  background-color: rgba(110, 109, 109, 0.897);
  font-weight: bold;
  cursor:pointer;
}

input[type=submit]:hover {
  background-color: rgba(170, 170, 170, 0.897);
}

input:read-only {
  background-color: rgb(165, 165, 165);
  font-weight: bold;
}

.error {
  color: #FF0000;
}


/*table*/
table {
  border: black 1px solid;
  border-collapse: collapse;
}

tr th {
  border: black 1px solid;
  padding: 15px;
  text-align: center;
  background-color: rgb(36, 151, 151);
}

tr td {
  border: black 1px solid;
  padding: 15px;
  text-align: center;
  background-color: rgb(255, 222, 182);
}


/*button*/
button {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  cursor:pointer;
}

.button-logout {
  font-weight:bold;    
  background-color:rgb(218, 0, 102);
  font-size:12px;
  padding: 2px;
}



/*others*/
.github-link {
  text-transform:uppercase;
  font-weight:bold;    
  color:rgb(139, 4, 4);
  text-decoration:none;    
  float:right; 
  font-size:12px;
  padding-top: 1px;
  /*text-align:right;*/
}

.github-link:hover {
  text-shadow: rgb(117, 2, 2) 1px 0 10px;
}



/*for mobile screen*/
@media screen and (max-width: 500px) {

  /*body*/
  body {
    margin-left: 5px;
    margin-right: 5px;
  }

  input[type=submit], input[type=text], input[type=password], select {
    padding: 5px;
  }

  /*table*/
  tr th, tr td {
    padding: 5px
  }

  /*button*/
  button {
    padding: 5px;
  }

}