/*body*/
body {
  background-color: #d9fbff;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 200px;
  margin-right: 200px;
}

footer {
  font-size: small;
  margin-top: 30%;
}

input[type=submit], input[type=text], input[type=password], select {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  border-radius: 10px;
}

input[type=submit] {
  background-color: rgba(110, 109, 109, 0.897);
  font-weight: bold;
  cursor:pointer;
}

input[type=submit]:hover {
  background-color: rgba(170, 170, 170, 0.897);
  box-shadow: 2px 2px 2px rgba(129, 129, 129, 0.897);
}

input:read-only {
  background-color: rgb(165, 165, 165);
  font-weight: bold;
}

input[type=image] {
  background-color: #d9fbff;
  width: 30px;
  border-radius: 100px;
}

input[type=image]:hover {
  background-color: #a6c8cc;
  box-shadow: 0px 0px 2px 2px black;
}

textarea {
  border-radius: 10px;
}

.error {
  color: #FF0000;
}

.hidden-text {
  visibility: hidden;
}

nav a:hover {
  background-color: rgb(212, 212, 31);
  font-weight: bold;
}


/*table*/
table {
  border: rgb(2, 71, 0) 0.5px solid;
  border-radius: 13px; 
  border-collapse: collapse;
}

tr th {
  border: black 1px solid;
  padding: 15px;
  text-align: center;
  background-color: rgb(36, 151, 151);
}

tr td {
  border: black 1px solid;
  padding: 15px;
  text-align: center;
  background-color: rgb(255, 222, 182);
}


/*button*/
button {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  cursor:pointer;
  border-radius: 12px;
}

button:hover {
  background-color: rgba(175, 175, 175, 0.897);
  box-shadow: 2px 2px 2px rgba(138, 138, 138, 0.897);
}

.button-logout {
  font-weight:bold;    
  background-color:rgb(218, 0, 102);
  font-size:12px;
  padding: 2px;
}

.button-logout:hover {
  background-color:rgb(185, 0, 87);
}


/*others*/
.github-link {
  text-transform:uppercase;
  font-weight:bold;    
  color:rgb(139, 4, 4);
  text-decoration:none;    
  float:right; 
  font-size:12px;
  padding-top: 1px;
  /*text-align:right;*/
}

.github-link:hover {
  text-shadow: rgb(117, 2, 2) 1px 0 10px;
}



/*for mobile screen*/
@media screen and (max-width: 500px) {

  /*body*/
  body {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 70%;
  }

  input[type=submit], input[type=text], input[type=password], select {
    padding: 5px;
  }

  input[type=image] {
    width: 20px;
  }

  /*table*/
  tr th, tr td {
    padding: 5px;
    font-size: 70%;
  }

  /*button*/
  button {
    padding: 5px;
  }

}