.text-right {
  text-transform:uppercase;
  font-weight:bold;    
  color:black;
  text-decoration:none;    
  float:right; 
  font-size:12px;
  padding-top: 1px;
  /*text-align:right;*/
}

.error {
  color: #FF0000;
}